<div class="wrapper-login">
  <form class="form-signin"  name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
    <h2 class="form-signin-heading">Inicio de Sesión</h2>
    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"   placeholder="Email" required="true" autofocus="" />
    <input type="password" class="form-control" name="password" placeholder="Password" value=""  [(ngModel)]="model.password" #password="ngModel"  required=""/>
    <button class="btn btn-lg btn-primary btn-block" (click)="submit()" >Login</button>

  </form>
</div>
