<h5 class="card-title">Gestion de Usuarios</h5>
<form method="post"  name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"  class="form-horizontal" >
  <input type="hidden" name="id" [(ngModel)]="usuarios.id" id="id" value="">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Nombre:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="usuarios.name"  name="name" type="text" class="form-control" id="name" placeholder="Nombre" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="lastname">Apellido:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="usuarios.lastname"  name="lastname" type="text" class="form-control" id="lastname" placeholder="Apellido" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" [(ngModel)]="usuarios.email" name="emai"  class="form-control" id="email" placeholder="Email" required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="password">Contrase&ntilde;a:</label>
    <div class="col-sm-10">
      <input type="password" [(ngModel)]="usuarios.password" name="password"  class="form-control" id="password" placeholder="password" required>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" for="password_confirmation">Confirmación Contrase&ntilde;a:</label>
    <div class="col-sm-10">
      <input type="password" [(ngModel)]="usuarios.password_confirmation" name="password_confirmation"  class="form-control" id="password_confirmation" placeholder="password" required>
    </div>
  </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="doc_types_id">Tipo Documento:</label>
        <div class="col-sm-10">
          <select class="form-control" [(ngModel)]="usuarios.doc_types_id" name="doc_types_id" id="doc_types_id" required>
            <option  *ngFor="let item of documents" value="{{item.id}}" >{{item.abb}} - {{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="document">Documento:</label>
          <div class="col-sm-10">
            <input type="number" [(ngModel)]="usuarios.document" name="document"  class="form-control" id="document" placeholder="Documento" required>
          </div>
        </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="pic">Foto:</label>
          <div class="col-sm-10">
            <input type="file" name="pict" class="form-control" id="pict"  (change)="onFileChanged($event)" placeholder="Foto" required>
          </div>
        </div>

<hr>
  <div class="form-group row">
      <div class="col-sm-offset-2 col-md-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div class="col-sm-offset-2   col-md-2 col-sm-10">
        <button type="button" class="btn btn-warning">Cancelar</button>
      </div>
  </div>
</form>
