<h5 class="card-title">Listado de Usuarios</h5>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo Documento</th>
        <th>Documento</th>
        <th class="text-center">Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.doc_type.name }}</td>
        <td>{{ item.document }}</td>
        <td class="text-center"> <img src="{{ imgRoute+item.pic }}" class="img-fluid"> </td>

      </tr>
    </tbody>
    </table>
