<h5 class="card-title">Gestion de Archivos Planos</h5>
<form method="post"  name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm"  class="form-horizontal" >

      <div class="form-group">
          <label class="control-label col-sm-2" for="pic">Cargar Archivo:</label>
          <div class="col-sm-10">
            <input type="file" name="pict" class="form-control" id="pict"  (change)="onFileChanged($event)" placeholder="Foto" required>
          </div>
        </div>

<hr>
  <div class="form-group row">
      <div class="col-sm-offset-2 col-md-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div class="col-sm-offset-2   col-md-2 col-sm-10">
        <button type="button" class="btn btn-warning">Cancelar</button>
      </div>
  </div>
</form>
