<h5 class="card-title">Listado de Usuarios</h5>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Contenido</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of file">
        <td>{{ item.id }}</td>
        <td>{{ item.content }}</td>
        <td>{{ item.user.name }} {{ item.user.lastname }}</td>
      </tr>
    </tbody>
    </table>
