html, body {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}
footer div{
  color:#fff;
}

footer div a{
  color:rgba(255, 255, 255, 0.5);;
  font-weight: bold;
}

footer div a:hover{
  color:#fff;
  font-weight: bold;
}
